{% extends "base.html" %}

{% block content %}
<section class="intro-section" id="home">
    <div class="intro-content">
        <div class="background-shadow2 linear-grad">
            <a href="https://space.bilibili.com/703007996" target="_blank">A-SOUL 1周年快乐~</a>
        </div>
    </div>
</section>
<main class="main-warp">
    <section class="service-section" id="navigation-0">
        <div class="container-fluid pt20 pb10">
            <div id="banner" class="row">
                <!--banner item-->
                <div class="colc">
                    <div class="service-item-main">
                        <div class="banner-background bg-1"></div>
                        <div class="background-shadow"></div>
                        <div class="info-area">
                            <div class="inline-block">

                                <a id="space-link" href="https://space.bilibili.com/672346917" target="_blank">
                                    <img class="logo-size round"
                                        src="{{ url_for('static',filename='img/avatar-1.webp')}}" alt="">
                                </a>
                            </div>
                            <div class="text-area">
                                <p class="name-text">向晚大魔王</p>
                                <p class="desc-content">关注...也不是不可以啦！</p>
                            </div>
                        </div>
                        <a id="live-link" href="https://live.bilibili.com/22625025" target="_blank">
                            <div class="live-status-box" title="该成员今天有直播哦~直播内容为 单播">
                                <img id="live-dot" src="../img/living-1.svg" class="" alt="">
                                <h4 class="live-text">LIVE</h4>
                            </div>
                        </a>
                    </div>
                </div>
                <!--banner item-->
            </div>
        </div>
    </section>
    <section class="service-section" id="navigation-1">
        <div class="container-fluid pt20 pb10 desktop-limit">
            <div class="stitle mb70">
                <h2>二创视频</h2>
            </div>
            {% if vedios %}
            <div id="nav2" class="row">
                {% for vedio in vedios%}
                {% if vedio %}
                <div class="col-md-3 col-sm-4 col-xs-6" data-wow-delay="0.1s">
                    <a href={{vedio.vedio_url}} target="_blank">
                        <div class="service-item">
                            <div class="serv-icon-fix">
                                <img class="logo-size logo-scale" src={{vedio.vedio}} alt="">
                                <p class="mt10 name-text">{{vedio.vedio_name}}</p>
                            </div>
                            <div class="serv-content">
                                <p class="desc-content"></p>
                            </div>
                            
                            <a class="picowner" href={{vedio.up}} target="_blank">
                                <div tabindex="0" aria-describedby="el-popper-2098" class="updiv">
                                    <div class="el-image">
                                        <img class="el-image__inner"
                                            src={{vedio.up_avatar}}>
                                        <!--v-if-->
                                    </div> 
                                    {{vedio.up_name}}
                                </div>
                            </a>
                            {% if username %}
                            <a class="likechoose" href="javascript:void(0);" onclick="LikevRefresh('/likevedio/{{vedio.vedio_id}}')" title="点击收藏">
                            {% else %}
                            <a class="likechoose" href= "login" title="请先登录以收藏">
                            {% endif %}
                                {% set vars = {'foo': True} %}
                                {% for likev in likevedio %}
                                    {% if vedio.vedio_id == likev.vedio_id %}
                                    {% if vars.update({'foo': Flase}) %} {% endif %}
                                    <button class="border-0 btn-transition btn1 btn-outline-like"> <i class="fa fa-star" aria-hidden="true"></i></button>
                                    {% endif %}
                                {% endfor %}
                                {% if vars.foo %}
                                    <button class="border-0 btn-transition btn1 btn-outline-nolike"> <i class="fa fa-star-o" aria-hidden="true"></i></button>
                                {% endif %}
                            </a>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <h5>还没有上传视频哦</h5>
            {% endif %}
        </div>
    </section>
    <section class="service-section" id="navigation-2">
        <div class="container-fluid pt20 pb10 desktop-limit">
            <div class="stitle mb70">
                <h2>二创图片</h2>
            </div>
            {% if images %}
            <div id="nav3" class="row">
                {% for image in images%}
                {% if image %}
                <div class="col-md-3 col-sm-4 col-xs-6" data-wow-delay="0.1s">
                    <a href={{image.image_url}} target="_blank">
                        <div class="service-item">
                            <div class="serv-icon-fix">
                                <img class="logo-size logo-scale" src={{image.image}} alt="">

                                <p class="mt10 name-text">{{image.image_name}}</p>
                            </div>
                            <div class="serv-content">
                                <p class="desc-content"></p>
                            </div>
                            <a class="picowner" href={{image.up_url}} target="_blank">
                                <div tabindex="0" aria-describedby="el-popper-2098" class="updiv">
                                    <div class="el-image">
                                        <img class="el-image__inner"
                                            src={{image.up_avatar}}>
                                        <!--v-if-->
                                    </div> 
                                    {{image.up_name}}
                                </div>
                            </a>
                            {% if username %}
                            <a class="likechoose" href="javascript:void(0);" onclick="LikeiRefresh('/likeimage/{{image.image_id}}')" title="点击收藏">
                            {% else %}
                            <a class="likechoose" href= "login" title="请先登录以收藏">
                            {% endif %}
                                {% set vars = {'foo': True} %}
                                {% for likei in likeimage %}
                                    {% if image.image_id == likei.image_id %}
                                    {% if vars.update({'foo': Flase}) %} {% endif %}
                                    <button class="border-0 btn-transition btn1 btn-outline-like"> <i class="fa fa-star" aria-hidden="true"></i></button>
                                    {% endif %}
                                {% endfor %}
                                {% if vars.foo %}
                                    <button class="border-0 btn-transition btn1 btn-outline-nolike"> <i class="fa fa-star-o" aria-hidden="true"></i></button>
                                {% endif %}
                            </a>
                        </div>
                    </a>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            {% else %}
            <h5>还没有上传图片哦</h5>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}